@import "./reset.css";
body, html{
    background-color: rgb(20, 20, 38);
    width: 100%;
    height: 100%;
    font-family: "Rubik", sans-serif;
    color: #fff;
}
.container {
    max-width: 1440px;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(36, 36, 69);
    height: 60px;
    border-bottom: 1px solid rgba(87, 87, 255, 0.044);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.header__logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 23px;
    padding-left: 20px;
    color: rgb(172, 172, 255);
}
.modify-logo {
    color: rgb(87, 87, 255);
}
.logo-img{
    height: 30px;
    padding-right: 10px;
}
.header__login{
    padding-right: 20px;
}
.container--header{
    width: 100%;
    height: 100%;
}
.btn-login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(63, 63, 220, 0.478);
    padding: 8px 14px;
    border-radius: .5rem;
    color: rgb(172, 172, 255);
    transition: background-color .1s ease-in;
    letter-spacing: 1px;
}
.btn-login:hover{
    background-color: rgba(82, 82, 232, 0.478);
}
.steam-login{
    height: 15px;
    margin: 0px 10px 0px 0px;
}
.main__content{
    text-align: center;
    max-width: 36rem;
}
.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    padding-bottom: 80px;
    padding-left: 5px;
    padding-right: 5px;
}
.title{
    font-size: 55px;
    font-weight: 700;
    line-height: 0.95;
    color: rgb(172, 172, 255);
}

.subtitle{
    margin-top: 30px;
    color: rgb(207, 207, 255);
    font-size: 20px;
    font-weight: 4  00;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.btn-calculate {
    background-color: rgba(157, 157, 255, 0.186);
    padding: 13px 20px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.183);
    cursor: no-drop;
}
.btn-valute {
    background-color: rgb(157, 157, 255);
    padding: 13px 20px;
    border-radius: 8px;
    color: rgb(20, 20, 38);
    transition: background-color .1s ease-in;
}
.btn-valute:hover{
    background-color: rgb(90, 90, 255);
}
.main-logo img{
    height: 90px;
}
.main-logo{
    padding-bottom: 40px;
}
.warning{
    background-color: rgb(26, 26, 59);
    padding: 10px 14px;
    border-radius: 7px;
    margin-top: 35px;
    color: rgb(207, 207, 255);
}
.warn-title{
    font-weight: 500;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(36, 36, 69);
    height: 90px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    font-weight: 300;
}
.footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(172, 172, 255);
    padding: 8px 14px;
    border-radius: .5rem;
    color: rgb(20, 20, 38);
    transition: background-color .1s ease-in;
    letter-spacing: 1px;
    font-weight: 400;
}
.footer-link:hover{
    background-color: rgb(90, 90, 255);
}

@media(max-width: 450px){
    .title{
        font-size: 37px;
    }
    .subtitle{
        font-size: 17px;
    }
    .warning{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media(max-width: 400px){
    .title{
        font-size: 28px;
    }
    .subtitle{
        font-size: 14px;
    }
}